<div class="jumbotron">
  <h1>Hello, all!</h1>
  <p>Small intro to ember js. Select the queue on right side to manage the tasks.</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
